<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('external/bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/jobfinder.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">Job Finder</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        {% if home_activated  %}
                            <li class="nav-item active">
                        {% else %}
                            <li class="nav-item">
                        {% endif %}
                            <a class="nav-link" href="{{ path('homepage')}}">Home <span class="sr-only">(current)</span></a>
                        </li>
                        {% if category_activated  %}
                            <li class="nav-item active">
                        {% else %}
                            <li class="nav-item">
                        {% endif %}
                                <a class="nav-link" href="{{ path('category')}}">Categories</a>
                        </li>
                        {% if employer_activated  %}
                        <li class="nav-item active">
                            {% else %}
                        <li class="nav-item">
                            {% endif %}
                            <a class="nav-link" href="{{ path('employer')}}">Employers</a>
                        </li>
                        {% if contact_activated  %}
                        <li class="nav-item active">
                            {% else %}
                        <li class="nav-item">
                            {% endif %}
                            <a class="nav-link" href="#">Contact us</a>
                        </li>
                    </ul>
                </div>
            </nav>


        {% endblock %}

        <footer class="mainfooter" role="contentinfo">
            <div class="footer-middle bg-dark">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <!--Column1-->
                            <div class="footer-pad">
                                <h5>Address</h5>
                                <address>
                                    <ul class="list-unstyled">
                                        <li>
                                            City Hall<br>
                                            212  Street<br>
                                            Lawoma<br>
                                            735<br>
                                        </li>
                                        <li>
                                            Phone: 0
                                        </li>
                                    </ul>
                                </address>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <!--Column1-->
                            <div class="footer-pad">
                                <h5>Popular Services</h5>
                                <ul class="list-unstyled">
                                    <li><a href="#"></a></li>
                                    <li><a href="#">Payment Center</a></li>
                                    <li><a href="#">Contact Directory</a></li>
                                    <li><a href="#">Forms</a></li>
                                    <li><a href="#">News and Updates</a></li>
                                    <li><a href="#">FAQs</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <!--Column1-->
                            <div class="footer-pad">
                                <h5>Website Information</h5>
                                <ul class="list-unstyled">
                                    <li><a href="#">Website Tutorial</a></li>
                                    <li><a href="#">Accessibility</a></li>
                                    <li><a href="#">Disclaimer</a></li>
                                    <li><a href="#">Privacy Policy</a></li>
                                    <li><a href="#">FAQs</a></li>
                                    <li><a href="#">Webmaster</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <!--Column1-->
                            <div class="footer-pad">
                                <h5>Popular Departments</h5>
                                <ul class="list-unstyled">
                                    <li><a href="#">Parks and Recreation</a></li>
                                    <li><a href="#">Public Works</a></li>
                                    <li><a href="#">Police Department</a></li>
                                    <li><a href="#">Fire</a></li>
                                    <li><a href="#">Mayor and City Council</a></li>
                                    <li>
                                        <a href="#"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 ">
                            <!--Footer Bottom-->
                            <p class="text-secondary">&copy; Copyright 2016 - City of USA.  All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

        {% block javascripts %}
            {#<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>#}
            {#<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>#}
            <script src="{{ asset('external/jquery/jquery-2.1.4.min.js') }}"></script>
            <script src="{{ asset('external/popper/popper.min.js') }}"></script>
            <script src="{{ asset('external/bootstrap/js/bootstrap.js') }}"></script>
            <script src="{{ asset('external/datatables/DataTables-1.10.16/js/jquery.dataTables.min.js') }}">
            </script>
            <script src="{{ asset('external/datatables/DataTables-1.10.16/js/dataTables.bootstrap4.min.js') }}">
            </script>
            <script src="{{ asset('js/jobfinder.js') }}"></script>
        {% endblock %}
    </body>


</html>
