{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('external/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css') }}">
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="container-fluid">
        <div class="row justify-content-center search-area">
            <div class="col-lg-12 search-area-heading">
                <h3 class="text-warning text-center">Explore your job...</h3>
            </div>
            <div class="col-lg-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Keyword" aria-label="Search for...">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="All categories" aria-label="Search for...">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="All locations" aria-label="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button">Find</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row category-list" >
            <div class="col-lg-3">
                <ul>
                    <li><a class="vacancy-category" href="#">IT-Sware/DB/QA/Web/Graphics/GIS</a></li>
                    <li><a class="vacancy-category" href="#">HR/Training</a></li>
                    <li><a class="vacancy-category" href="#">Customer Relations/Public Relations</a></li>
                    <li><a class="vacancy-category" href="#">Hotels/Restaurants/Food</a></li>
                    <li><a class="vacancy-category" href="#">Supervision/Quality Control</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul>
                    <li><a class="vacancy-category" href="#">Agriculture/Dairy/Environment</a></li>
                    <li><a class="vacancy-category" href="#">Imports/Exports</a></li>
                    <li><a class="vacancy-category" href="#">Security</a></li>
                    <li><a class="vacancy-category" href="#">Go somewhere</a></li>
                    <li><a class="vacancy-category" href="#">Fashion/Design/Beauty</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul>
                    <li><a class="vacancy-category" href="#">International Development</a></li>
                    <li><a class="vacancy-category" href="#">Sales/Marketing/Merchandising</a></li>
                    <li><a class="vacancy-category" href="#">Go somewhere</a></li>
                    <li><a class="vacancy-category" href="#">Go somewhere</a></li>
                    <li><a class="vacancy-category" href="#">Hospital/Nursing/Healthcare</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <ul>
                    <li><a class="vacancy-category" href="#">Go somewhere</a></li>
                    <li><a class="vacancy-category" href="#">Go somewhere</a></li>
                    <li><a class="vacancy-category" href="#">International Development</a></li>
                    <li><a class="vacancy-category" href="#">Sales/Marketing/Merchandising</a></li>
                    <li><a class="vacancy-category" href="#">Go somewhere</a></li>
                </ul>
            </div>
        </div>

        <div class="row vacancy-list">

            <table id="vacancy-table" class="table table-bordered table-hover" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Position</th>
                    <th>Employer</th>
                    <th>Description</th>
                    <th>Apply</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>This is the description</td>
                    <td><a href="#" data-toggle="modal" data-target="#vacancy_details_modal">more</a></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>This is the description</td>
                    <td>moressdsd</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>This is the description</td>
                    <td>2011/04/25</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>This is the description</td>
                    <td>2011/04/25</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>This is the description</td>
                    <td>2011/04/25</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>This is the description</td>
                    <td>2011/04/25</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>This is the description</td>
                    <td>2011/04/25</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>This is the description</td>
                    <td>2011/04/25</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>This is the description</td>
                    <td>2011/04/25</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>This is the description</td>
                    <td>2011/04/25</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>This is the description</td>
                    <td>2011/04/25</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>This is the description</td>
                    <td>2011/04/25</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>This is the description</td>
                    <td>2011/04/25</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>This is the description</td>
                    <td>2011/04/25</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>This is the description</td>
                    <td>2011/04/25</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>This is the description</td>
                    <td>2011/04/25</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>This is the description</td>
                    <td>2011/04/25</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>


    <div id="vacancy_details_modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <embed id="vacancy-pdf-viewer" src="{{ asset('vacancies/va.pdf') }}" type='application/pdf'>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('#vacancy-table').DataTable();
        } );
    </script>

{% endblock %}


