{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('external/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css') }}">
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="container-fluid">
        <div class="row justify-content-center bg-dark search-area">
            <div class="col-lg-12 search-area-heading">
                <h3 class="text-white text-center">EXPLORE YOUR JOBS...</h3>
            </div>
            <div class="col-lg-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Keyword" aria-label="Search for...">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="All categories" aria-label="Search for...">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="All locations" aria-label="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-danger " type="button">Find</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row category-list" >

            {% if category_size < 5 %}
                {% for category in category_list %}
                    <div class="col-lg-3">
                        <ul>
                            <li><a class="category-item" href="#">{{ category.name }}</a></li>
                        </ul>
                    </div>
                {% endfor %}
            {% else  %}
                {% set start,length = 0, category_limit_row %}
                {% for i in 1..4 %}
                    {% if i == category_limit_col+1 %}
                        {% set length = length - 1 %}
                    {% endif %}
                    <div class="col-lg-3">
                        <ul>
                            {% for category in category_list|slice(start,length) %}
                                <li><a class="category-item" href="#">{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    {%  set start = start + length %}
                {% endfor %}
            {% endif %}

        </div>

        <div class="row vacancy-list">

            <table id="vacancy-table" class="table table-condensed table-hover" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Position</th>
                    <th>Employer</th>
                    <th>Description</th>
                    <th>Apply</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>This is the description</td>
                    <td><a href="#" data-toggle="modal" data-target="#vacancy_details_modal">more</a></td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>This is the description</td>
                    <td>moressdsd</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>This is the description</td>
                    <td>2011/04/25</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>This is the description</td>
                    <td>2011/04/25</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>This is the description</td>
                    <td>2011/04/25</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>This is the description</td>
                    <td>2011/04/25</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>This is the description</td>
                    <td>2011/04/25</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>This is the description</td>
                    <td>2011/04/25</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>This is the description</td>
                    <td>2011/04/25</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>This is the description</td>
                    <td>2011/04/25</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>This is the description</td>
                    <td>2011/04/25</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>This is the description</td>
                    <td>2011/04/25</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>This is the description</td>
                    <td>2011/04/25</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>This is the description</td>
                    <td>2011/04/25</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>This is the description</td>
                    <td>2011/04/25</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>This is the description</td>
                    <td>2011/04/25</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>System Architect</td>
                    <td>Edinburgh</td>
                    <td>This is the description</td>
                    <td>2011/04/25</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>


    <div id="vacancy_details_modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Job specifications</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <embed id="vacancy-pdf-viewer" src="{{ asset('vacancies/va.pdf') }}" type='application/pdf'>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('#vacancy-table').DataTable();
        } );
    </script>

{% endblock %}


