{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('external/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css') }}">
{% endblock %}

{% block body %}
    {{ parent() }}

    <div class="container-fluid">
        <div class="row justify-content-center bg-dark search-area">
            <div class="col-lg-3">
                <div class="input-group ">
                    <input type="text" class="form-control input-xs" placeholder="Keyword" aria-label="Search for...">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="input-group">
                    <input type="text" class="form-control input-xs" placeholder="All categories" aria-label="Search for...">
                </div>
            </div>
            <div class="col-lg-3">
                <div class="input-group">
                    <input type="text" class="form-control input-xs" placeholder="All locations" aria-label="Search for...">
                    <span class="input-group-btn">
                        <button class="btn-sm btn-danger " type="button">Find</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="row category-list" >

            {% if category_size < 7 %}
                {% for category in category_list %}
                    <div class="col-lg-2">
                        <ul>
                            <li><a class="category-item" href="{{ path('categoryDetails',{'id': category.id }) }}">{{ category.name }}</a></li>
                        </ul>
                    </div>
                {% endfor %}
            {% else  %}
                {% set start,length = 0, category_limit_row %}
                {% for i in 1..6 %}
                    {% if i == category_limit_col+1 %}
                        {% set length = length - 1 %}
                    {% endif %}
                    <div class="col-lg-2">
                        <ul>
                            {% for category in category_list|slice(start,length) %}
                                <li><a class="category-item" href="{{ path('categoryDetails',{'id': category.id }) }}">{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                    {%  set start = start + length %}
                {% endfor %}
            {% endif %}

        </div>

        <div class="row vacancy-list">

            <table id="vacancy-table" class="table table-condensed table-hover" cellspacing="0" width="100%">
                <thead>
                <tr>
                    {#<th>ID</th>#}
                    <th>Positions Available</th>
                    <th>Employer</th>
                    <th>Description</th>
                    <th>Apply</th>
                </tr>
                </thead>
                <tbody>
                {% for vacancy in recent_vacancy_list%}
                    <tr class='vacancy-row' data-href="{{ path('jobSpecPage',{'vacancy':'va.pdf'}) }}" >
                        {#<td>{{ vacancy.id }}</td>#}
                        <td>{{ vacancy[0].name }}</td>
                        <td>{{ vacancy.emp_name }}</td>
                        <td>{{ vacancy[0].description }}</td>
                        <td><a href="{{ path('jobSpecPage',{'vacancy':'va.pdf'}) }}" target="_blank">More</a> </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('#vacancy-table').DataTable();
        } );
    </script>

{% endblock %}


